<div class="detail-infomation">
    <!-- ảnh về sản phẩm -->
    <div class="detail-infomatio-left">
        <div class="img-info-container">
            <div class="carasel-gallery">
                <div class="slider-gallery-area">
                    <img src="https://picsum.photos/425/425" alt="" class="firstImage">
                    <!-- <img src="https://picsum.photos/425/425" alt="">
                    <img src="https://picsum.photos/425/425" alt="">
                    <img src="https://picsum.photos/425/425" alt=""> -->
                </div>
                <div class="button-area">
                    <div class="previous-btn">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div class="next-btn">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mô tả thông tin sản phẩm -->
    <div class="detail-infomation-right">
        
    </div>
</div>