<header>
    <div class="header-heading"></div>
    <div class="header-wrapper">
        <div class="logo">
            <!-- <h2>Your Doctor</h2> -->
            <a href="http://localhost:3000/">

                <img src="/assets/img/logoDO.png" alt="">
            </a>
        </div>
        <div class="search">
            <input type="text" placeholder="Tìm tên thuốc, thực phẩm,...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="right-side">
            <div class="login">
                <i class="fa-solid fa-user"></i>
                <a href="..\site-customer\pages\login-register\index.html">Đăng nhập</a>
            </div>   
            <div class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <a href="">Giỏ hàng</a>
            </div>
        </div>
        <div class="header-foot">
            
        </div>
    </div>
</header>