<div class="pharmacist-infomation">
    <div class="pharmacist-area">
        <div class="pharmacist-avarta">
            <img src="https://picsum.photos/80/80" alt="">
        </div>
        <div class="pharmacist-info">
            <div class="pharmacist-name">
                <span>Dược sĩ Phạm Trang</span>
            </div>
            <div class="btn-action-pharmacist">
                <button>Nhắn tin với dược sĩ</button>
                <button>Xem nhà thuốc</button>
            </div>
        </div>
    </div>
    <div class="pharmacist-description">
        <div class="drugStore-description">
            <div class="drugQuantityOfDrugstore">
                <span>Sản phẩm</span>
                <a>200</a>
            </div>
            <div class="reputation-level">
                <span>Mức độ uy tín</span>
                <a>100%</a>
            </div>
            <div class="messageResponse-rate">
                <span>Tỉ lệ phản hồi khách hàng</span>
                <a>100%</a>
            </div>
        </div>
        <span class="pharmacist-introduction">
            <p>Từng làm ở Viện ISDS, nhiều năm cộng tác với CDC Thái Nguyên triển khai dự án phòng chống HIV/AIDS, 2 năm cộng tác với WHO.</p>
        </span>

    </div>
</div>