<div class="recent-orders">
    <div class="view">
        <div class="card-body-left card-body">
            <div class="head-card">
                <div class="avatar">
                    <img src="" alt="">
                </div>
                <div class="name">
                    <nav>Nguyễn Hải Phú</nav>
                </div>
            </div>
            <div class="info-user">
                <div>
                    <span class="col1">Email</span>
                    <span class="col2">haiphudtu@gmail.com</span>
                </div>
                <div>
                    <span class="col1">Số điện thoại</span>
                    <span class="col2">(+84) 1234554321</span>
                </div>
                <div>
                    <span class="col1">Tuổi</span>
                    <span class="col2">23</span>
                </div>

            </div>
            <div class="action">
                <a href="">
                    <nav>Thông tin cá nhân</nav>
                </a>
                <a href="">
                    <nav>Thông tin tài khoản</nav>
                </a>
                
            
                <a href="">
                    <nav>Cài đặt mật khẩu</nav>
                </a>
            </div>
        </div>
        <div class="card-body-right card-body">
            <div class="header-carbody-right">
                <nav>Thông tin tài khoản</nav>
            </div>
            
            <div>
                <nav class="col1">
                    Tên Đăng nhập
                </nav>
                <nav class="col2">
                    <input type="text" value="Phu">
                </nav>
            </div>
            <div>
                <nav class="col1">
                    Email
                </nav>
                <nav class="col2">
                    <input type="email" value="Phu20dn@gmail.com">
                </nav>
            </div>
            <div>
                <nav class="col1">
                    Quyền đăng nhập
                </nav>
                <nav class="col2">
                   <span>Người dùng</span>
                </nav>
            </div>
            <div class="button">

                <div class="back-btn">
                    <button>Quay lại</button>
                </div>
                <div class="save-btn">
                    <button>Lưu thay đổi</button>
                </div>
            </div>
        </div>  
    </div>
</div>