<div class="banner">
    <div class="slider-frame">
        <div class="images-area">
         
                <img src="/assets/img/banner1.webp" id="banner1" alt="" class="firstImage">
          
           
                <img src="/assets/img/banner-maternity.png" id="banner2" alt="">
           
           
                <img src="/assets/img/buy_one_get_one.jpg" id="banner3" alt="">
           
        </div>
        <div class="buttons-area">
            <div class="previous-btn">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="next-btn">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="pagination-area"></div>
    </div>
</div>